version: '2'
services:
  api:
    network_mode: host
    extends:
      file: docker-compose.yml
      service: api
    ports:
      - "8080:8080"
    volumes:
      - ./src:/usr/src/app/src
    command: "npm run debug"
